// Theme's Styles
@import("C:/Users/jlebr/Desktop/laravel-memos/node_modules/@vuepress/theme-default/styles/index.styl")

// User's Styles
@import("C:/Users/jlebr/Desktop/laravel-memos/docs/.vuepress/styles/index.styl")